/*.sidebar {
    flex: 0.35;
    display: flex;
    flex-direction: column;
}*/

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.3 1;
    max-width: 30vw;
    min-width: 20vw;
    position: relative;
}

/*.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
}*/

.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.sidebar__chats {
    background-color: white;
    flex: 1 1;
    overflow: scroll;
}
